---
import data from '../data/works.json'; //jsonデータの読み込み
---

<section class="p-works">
  <h2 class="c-heading scaleyElem">
    <img
      src="images/heading_featured_works.png"
      srcset="images/heading_featured_works@2x.png 2x"
      width="263"
      height="24"
      alt="featured works"
    />
  </h2>

  <div class="c-works-grid">
    {
      data.map((item) => (
        <div class="c-works-grid__item skewElem">
          <a href="#" class="c-works-grid__link">
            <span class="c-bg-elem" />
            <span class="c-stripe-elem" />
            <img src={item.image} alt={item.title} class="c-works-grid__img scaleyElem" />
          </a>
          <div class="c-works-grid__category scaleyElem">
            {/* category オブジェクトのループ */}
            {Object.entries(item.category).map(([key, value], index, array) => (
              <>
                <a href={value}>{key}</a>
                {/* 各リンクの後にコンマを表示し、最後のリンクには表示しない */}
                {index < array.length - 1 ? ',' : ''}
              </>
            ))}
          </div>
          <h3 class="c-works-grid__title scaleyElem">{item.title}</h3>
          {/*set:htmlで<br>つきのテキストを流し込めるようにする */}
          <p class="c-works-grid__txt scaleyElem" set:html={item.text} />
        </div>
      ))
    }
  </div>

  <div class="p-more-link-block">
    <div class="c-more-link-heading">
      <img
        src="images/heading_all_works.png"
        srcset="images/heading_all_works@2x.png 2x"
        width="121"
        height="22"
        alt="all works"
        class="scaleyElem"
      />
      <span class="c-more-link-heading__en scaleyElem"
        ><img
          src="images/learn_more.png"
          srcset="images/learn_more@2x.png 2x"
          width="76"
          height="11"
          alt="続きを読む"
        /></span>
    </div>
    <a href="#" class="c-more-link scaleyElem"
      ><span class="c-more-link__circle"
        ><img
          src="images/arrow_bk.png"
          srcset="images/arrow_bk@2x.png 2x"
          width="25"
          height="21"
          alt=""
        /></span
      ></a
    >
  </div>
</section>
